@import '../../styles/base/font';
@import '../../styles/base/variables';
@import '../../styles/base/global';
.subheader {
    padding: 16px 0;
    transition: all 0.3s;
    position: relative;
    z-index: 0;
    border: rgba(0,0,0,0.1);
    border-radius: 12px;
    box-shadow: 0 0.625rem 1.25rem 0 rgba(0, 0, 0, 0.3);

    @media screen and (min-width: 768px) {
        margin: 0 40px;
    }

    .container {
        flex-direction: row;
        width: auto;
    }
    &.is-active{
        background: $sidebar-bg-color;
        transition: all 0.3s;
    }
}
search-component {
    min-width: 30%;
    display: none;
    @media screen and (min-width: $tablet) {
        display: block;
    }
}
button-component, search-component {
    flex: 1;
}
button-component[action="openAddCourseModal"],
button-component[action="addItem"] {
    display: flex;
    justify-content: flex-end;
}